<Layouts.app flash={@flash}>
  <.header>
    Edit Post {@post.id}
    <:subtitle>Use this form to manage post records in your database.</:subtitle>
  </.header>

  <.post_form changeset={@changeset} action={~p"/posts/#{@post}"} return_to={~p"/posts"} />
</Layouts.app>
